<ion-header>
  <ion-navbar color='primary'>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Database Tracker!</h2>
  <small> v0.02</small>
  <p>
    Choose your event and Go
  </p>
    <ul>
      <li *ngFor="let event of eventNow">
        <span>{{event.name}}</span>
          <ul>
            <li *ngFor="let booth of boothNow">
                <span *ngIf="event.id == booth.event_id">{{booth.name}}</span>
            </li>
          </ul>
      </li>
    </ul>
</ion-content>
